
h1{
  font-family: 'Lato', sans-serif;
  color: black;
}

h2, h3, h4, h5, h6, {
	font-family: 'Lato', sans-serif;
  color: #F7F7F7;
}

p{
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 1.1em;
}

html body {
  background-color: #F7F7F7;
  margin: 0;
}

/*Fra toppen til bunnen*/
.toppbar{
  background-color: #AC2731;
  padding-top: 1%;
  padding-bottom: 1%;
}

.logofirmaside {
  margin-left: 20%;
  margin-right: 0;
  margin-top: 0;
}

.hovedbar{
  margin-left: 15%;
  margin-right: 15%;
  padding-left: 5%;
  padding-right: 5%;
}

.listefliste{
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 1.2em;
}

.bunnbar{
  background-color: #AC2731;
  padding-top: 1%;
  padding-bottom: 15%;
}

.kontaktside{
  float:left;
  margin-left: 20%;
}

.sosialside{
  float: right;
  margin-top: 1%;
  margin-right: 20%;
}

.pating{
  float: right;
  margin-right: 45%;
  margin-top: 3%;
}

#bunnbartekst{
  font-family: 'Lato', sans-serif;
  color: #F7F7F7;
  font-size: 1.1em;
}

/*Slide*/
* {box-sizing: border-box}
.minserie {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.bildeserie {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.forrige, .neste {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.neste {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.forrige:hover, .neste:hover {
  background-color: rgba(0,0,0,0.8);
}

.active, .dot:hover {
  background-color: #717171;
}
